@model IEnumerable<Nika1337.Library.Presentation.Models.Genres.GenreViewModel>

@{
    ViewData["Title"] = "Genres";
    Layout = "_CardTableLayout";
    var sortOptions = new Dictionary<string, string>
    {
        { "name", "Name: A - Z" },
        { "nameDesc", "Name: Z - A" },
    };
}

@section SortFilterSearchSwitch {
    @await Html.PartialAsync("_SortFilterSearchSwitchPartial", sortOptions)
}

@section Cards {
    @foreach (var genre in Model)
    {
        <a class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4 list-card" data-name="@genre.Name" data-active="@(!genre.DeletedDate.HasValue)" href="/Books/Genres/@genre.Id" style="text-decoration:none; color:black">
            <div class="card h-100 shadow-sm d-flex flex-column">
                <div class="card-header d-flex justify-content-between align-items-center text-white">
                    <span class="card-header-name">@genre.Name</span>
                    @if (!genre.DeletedDate.HasValue)
                    {
                        <span class="badge bg-success badge-sm">Active</span>
                    }
                    else
                    {
                        <span class="badge bg-danger badge-sm">Deleted</span>
                    }
                </div>
                <div class="card-body d-flex flex-column justify-content-between">
                    <div class="property">
                        <span>@genre.Description</span>
                    </div>
                </div>
            </div>
        </a>
    }
}

@section Table {
    <table id="table" class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var genre in Model)
            {
                <tr class="table-row" data-name="@genre.Name" data-active="@(!genre.DeletedDate.HasValue)">
                    <td>@genre.Name</td>
                    <td class="table-description">@genre.Description</td>
                    <td>
                        @if (!genre.DeletedDate.HasValue)
                        {
                            <span class="badge bg-success">Active</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Deleted</span>
                        }
                    </td>
                    <td class="no-wrap">
                        <a href="/Books/Genres/@genre.Id" class="btn btn-dark btn-sm">View Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Fab {
    <a href="/Books/Genres/AddGenre" class="btn btn-primary btn-lg shadow-sm myfab">
        Add Genre
    </a>
}

@section Scripts {
    <script src="~/js/Books/Genres/Genres.js"></script>
    <script src="~/js/Shared/SortFilterSearchSwitch.js"></script>
}

@section Styles {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Books/Genres/Genres.css" asp-append-version="true" />
}
