@model Nika1337.Library.Domain.RequestFeatures.PagedList<Nika1337.Library.Presentation.Models.Rooms.RoomPreviewViewModel>

@{
    ViewData["Title"] = "Rooms";
    Layout = "_ServerSideCardTableLayout";
}

@section Paging {
    @await Html.PartialAsync("_PagingPartial", Model.MetaData)
}

@section Cards {
    @foreach (var room in Model)
    {
        <a class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4 list-card" style="text-decoration:none; color:black" href="/Location/Rooms/@room.Id">
            <div class="card h-100 shadow-sm d-flex flex-column">
                <div class="card-header d-flex justify-content-between align-items-center text-white">
                    <span class="card-header-name">@room.RoomNumber</span>
                    @if (room.IsActive)
                    {
                        <span class="badge bg-success">Active</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Deleted</span>
                    }
                </div>
                <div class="card-body d-flex flex-column justify-content-between">
                    <div class="property">
                        <span class="text-muted">Floor:</span>
                        <span>@room.Floor</span>
                    </div>
                    <div class="property">
                        <span class="text-muted">Max Capacity Of People:</span>
                        <span>@room.MaxCapacityOfPeople</span>
                    </div>
                    <div class="property">
                        <span class="text-muted">Bookshelves:</span>
                        <span>@room.EditionsCount</span>
                    </div>
                </div>
            </div>
        </a>
    }
}


@section Table {
    <table id="table" class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Floor</th>
                <th>Room Number</th>
                <th>Max Capacity Of People</th>
                <th>Bookshelves</th>
                <th>Status</th>
                <th style="width: 8%">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var room in Model)
            {
                <tr class="table-row">
                    <td>@room.Floor</td>
                    <td>@room.RoomNumber</td>
                    <td>@room.MaxCapacityOfPeople</td>
                    <td>@room.EditionsCount</td>
                    <td>
                        @if (room.IsActive)
                        {
                            <span class="badge bg-success">Active</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Deleted</span>
                        }
                    </td>
                    <td>
                        <a href="/Location/Rooms/@room.Id" class="btn btn-dark btn-sm no-wrap">View Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



@section Fab {
    <a href="/Location/Rooms/AddRoom" class="btn btn-primary btn-lg shadow-sm myfab">
        Add Room
    </a>
}

@section Scripts {
    <script>
        const viewName = "Rooms";
    </script>
}
