@model Nika1337.Library.Presentation.Models.EmployeeManagement.EmployeeProfileViewModel
@{
    ViewData["Title"] = "Edit Employee";
    var username = (string)ViewContext.RouteData.Values["username"];
    var userAction = Model.TerminationDate == null ? "Terminate" : "Renew";
    var actionButtonClass = Model.TerminationDate == null ? "btn-danger" : "btn-warning";
}

<div class="container-fluid pt-5">
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="d-flex flex-column align-items-center">
            <div class="alert alert-danger" style="width: fit-content">
                @Model.ErrorMessage
            </div>
        </div>
    }
    <div class="row justify-content-center">
        <!-- Address Card - 1/3 width -->
        <div class="col-xl-4">
            <div class="card mb-4">
                <h5 class="card-header">Address</h5>
                <div class="card-body">
                    <div class="mb-3">
                        <label asp-for="Country" class="form-label"></label>
                        <input asp-for="Country" class="form-control" readonly>
                    </div>
                    <div class="mb-3">
                        <label asp-for="State" class="form-label"></label>
                        <input asp-for="State" class="form-control" readonly>
                    </div>
                    <div class="mb-3">
                        <label asp-for="City" class="form-label"></label>
                        <input asp-for="City" class="form-control" readonly>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Street" class="form-label"></label>
                        <input asp-for="Street" class="form-control" readonly>
                    </div>
                    <div class="mb-3">
                        <label asp-for="PostalCode" class="form-label"></label>
                        <input asp-for="PostalCode" class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>

        <!-- Read Only Info Car - 1/3 width -->
        <div class="col-xl-4">
            <div class="card mb-4">
                <h5 class="card-header">Read Only Info</h5>
                <div class="card-body">
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" readonly>
                    </div>
                    <div class="mb-3">
                        <label asp-for="PhoneNumber" class="form-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" readonly>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Gender" class="form-label"></label>
                        <input asp-for="Gender" class="form-control" readonly>
                    </div>
                    <div class="mb-3">
                        <label asp-for="StartDate" class="form-label"></label>
                        <input asp-for="StartDate" class="form-control" readonly>
                    </div>
                    <div class="mb-3">
                        <label asp-for="TerminationDate" class="form-label"></label>
                        <input asp-for="TerminationDate" class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-8">
            <div class="card mb-4">
                <h5 class="card-header">Employee Information</h5>
                <div class="card-body">
                    <form asp-action="Profile" asp-controller="EmployeeManagement" asp-route-username="@username" method="post" class="needs-validation" novalidate>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label asp-for="FirstName"></label>
                                    <input asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label asp-for="LastName"></label>
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label asp-for="NewUsername"></label>
                                    <input asp-for="NewUsername" class="form-control" />
                                    <span asp-validation-for="NewUsername" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label asp-for="IdNumber"></label>
                                    <input asp-for="IdNumber" class="form-control" />
                                    <span asp-validation-for="IdNumber" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label asp-for="DateOfBirth"></label>
                                    <input asp-for="DateOfBirth" class="form-control" type="date" />
                                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label asp-for="Salary"></label>
                                    <input asp-for="Salary" class="form-control" />
                                    <span asp-validation-for="Salary" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8 mb-3">
                                <div class="form-group">
                                    <label asp-for="SelectedRoles">Roles</label>
                                    <div>
                                        @foreach (var role in Model.AvailableRoles)
                                        {
                                            <div class="form-check">
                                                <input type="hidden" asp-for="AvailableRoles" value="@role">
                                                <input class="form-check-input" type="checkbox" id="@role" name="SelectedRoles" value="@role" @(Model.SelectedRoles.Contains(role) ? "checked" : "")>
                                                <label class="form-check-label" for="@role">@role</label>
                                            </div>
                                        }
                                        <span asp-validation-for="SelectedRoles" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4 d-flex flex-column justify-content-end align-items-end mb-3">
                                <button type="submit" class="btn btn-dark w-100 mb-2" style="min-height: 45px;">Save Changes</button>
                                <button type="button" class="btn @actionButtonClass w-100" style="min-height: 45px;" data-bs-toggle="modal" data-bs-target="#actionModal">@userAction</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Action Confirmation Modal -->
<div class="modal fade" id="actionModal" tabindex="-1" aria-labelledby="actionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="actionModalLabel">Confirm Termination</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to @userAction this employee?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn @actionButtonClass" id="confirmAction">@userAction</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        (function () {
            'use strict';

            document.getElementById('confirmAction').addEventListener('click', function () {
                var username = '@username';
                var token = document.querySelector('input[name="__RequestVerificationToken"]').value;
                fetch(`/EmployeeManagement/ToggleTerminateEmployee/${username}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                        'RequestVerificationToken': token
                    }
                }).then(response => {
                    if (response.ok) {
                        window.location.href = '/EmployeeManagement/AllEmployees';
                    } else {
                        alert('An error occurred while trying to @userAction the employee.');
                    }
                });
            });
        })();
    </script>
}
