@model IEnumerable<Nika1337.Library.Presentation.Models.EmailTemplates.EmailTemplatePreviewViewModel>

@{
    ViewData["Title"] = "Email Templates";
    Layout = "_ClientSideCardTableLayout";

    var breadcrumbItems = new List<BreadcrumbItem>
    {
        new()
        {
            Label = "Email Templates",
            Url = "/EmailTemplates"
        },
    };
}

@section Breadcrumb {
    @await Html.PartialAsync("_BreadcrumbPartial", breadcrumbItems)
}


@section Cards {
    @foreach (var template in Model)
    {
        <a
            class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4 list-card"
            data-name="@template.Name"
            data-subject="@template.Subject"
            data-fromemail="@template.FromEmail"
            data-briefdescription="@template.BriefDescription"
            data-donotincludedeleted="@template.IsActive.ToString().ToLower()"
            href="/EmailTemplates/@template.Id"
            style="text-decoration:none; color:black">
            <div class="card h-100 shadow-sm d-flex flex-column">
                <div class="card-header d-flex justify-content-between align-items-center text-white">
                    <span class="card-header-name">@template.Name</span>
                    @if (template.IsActive)
                    {
                        <span class="badge bg-success">Active</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Deleted</span>
                    }
                </div>
                <div class="card-body d-flex flex-column justify-content-between">
                    <div class="property">
                        <span class="text-muted">Brief Description:</span>
                        <span>@template.BriefDescription</span>
                    </div>
                    <div class="property">
                        <span class="text-muted">Subject:</span>
                        <span>@template.Subject</span>
                    </div>
                    <div class="property">
                        <span class="text-muted">From Email:</span>
                        <span>@template.FromEmail</span>
                    </div>
                </div>
            </div>
        </a>
    }
}

@section Table {
    <table id="table" class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Brief Description</th>
                <th>Subject</th>
                <th>From Email</th>
                <th>Status</th>
                <th style="width: 8%">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var template in Model)
            {
                <tr 
                    class="table-row"
                    data-name="@template.Name"
                    data-subject="@template.Subject"
                    data-fromemail="@template.FromEmail"
                    data-briefdescription="@template.BriefDescription"
                    data-donotincludedeleted="@template.IsActive.ToString().ToLower()">
                    <td>@template.Name</td>
                    <td>@template.BriefDescription</td>
                    <td>@template.Subject</td>
                    <td>@template.FromEmail</td>
                    <td>
                        @if (template.IsActive)
                        {
                            <span class="badge bg-success">Active</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Deleted</span>
                        }
                    </td>
                    <td>
                        <a href="/EmailTemplates/@template.Id" class="btn btn-info btn-sm no-wrap">View Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts {
    <script src="~/js/Operations/EmailTemplates.js"></script>
}
