@model Nika1337.Library.Presentation.Models.Shared.ActionConfirmationModalViewModel
@inject IViewLocalizer Localizer

<!-- Action Confirmation Modal -->
<div class="modal fade" id="actionModal" tabindex="-1" aria-labelledby="actionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="actionModalLabel">@Localizer["ConfirmAction", @Model.UserActionName]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Localizer["ConfirmActionText", @Model.UserActionName, @Model.EntityName]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn @Model.ActionButtonClass" id="confirmAction">@Model.UserActionName</button>
            </div>
        </div>
    </div>
</div>