
@{
    Layout = "_Layout.cshtml";
}

<div class="container-fluid p-5">
    @RenderSection("SortFilterSearchSwitch", required: true)

    <div id="cardView" class="row d-none">
        @RenderSection("Cards", required: true)
    </div>

    <div id="tableView" class="d-none">
        <div class="table-responsive d-flex justify-content-center">
            @RenderSection("Table", required: true)
        </div>
    </div>

    <div class="myfab-container">
        @RenderSection("Fab", required: false)
    </div>
</div>

@section Scripts {
    <script src="~/js/Shared/CardTableList.js"></script>
    <script src="~/js/Shared/SortFilterSearchSwitchPagination.js"></script>
    @RenderSection("Scripts", required: false)
}

@section Styles {
    <link rel="stylesheet" href="~/css/Shared/CardTableList.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Shared/PaginationPartial.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
}