
@{
    Layout = "_Layout.cshtml";
}

<div>
    <div class="row justify-content-between">
        <div class="col-md-4" style="width: fit-content">
            <div class="row flex-nowrap mb-4">
                <div class="col-auto">
                    @await Html.PartialAsync("_FilterPartial")
                </div>
                <div class="col-auto">
                    @await Html.PartialAsync("_SortPartial")
                </div>
            </div>
        </div>
        <div class="col-md-4" style="width: fit-content">
            @RenderSection("Paging", required: false)
        </div>
        <div class="col-md-4" style="width: fit-content">
            <div class="row flex-nowrap mb-4">
                <div class="col-auto">
                    @await Html.PartialAsync("_SearchPartial")
                </div>
                <div class="col-auto d-flex justify-content-center align-items-center">
                    @await Html.PartialAsync("_SwitchPartial")
                </div>
            </div>
        </div>
    </div>

    <div id="cardView" class="row d-none">
        @RenderSection("Cards", required: true)
    </div>

    <div id="tableView" class="d-none">
        <div class="table-responsive d-flex justify-content-center">
            @RenderSection("Table", required: true)
        </div>
    </div>

    <div class="myfab-container">
        @RenderSection("Fab", required: false)
    </div>

    @RenderSection("Body", required: false)
</div>


@section Breadcrumb {
    @RenderSection("Breadcrumb", required: false)
}

@section Scripts {
    <script src="~/js/Shared/CardTableList.js"></script>
    @RenderSection("Scripts", required: false)
}

@section Styles {
    <link rel="stylesheet" href="~/css/Shared/CardTableList.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Shared/PaginationPartial.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
}