@{
    Layout = "_Layout.cshtml";
}

<div class="pt-5">
    @RenderSection("Error", required: false)
    
    @RenderBody()
</div>



@RenderSection("ActionModal", required: false)

@section Breadcrumb {
    @RenderSection("Breadcrumb", required: false)
}

@section Scripts {
    <script src="~/js/Shared/Choices.js"></script>
    @RenderSection("Scripts", required: false)
}

@section Styles {
    @RenderSection("Styles", required: false)
}